<section class="about-sec">
  <div class="container">
      <div class="about-block">
          <div class="about-block__right">
              <div class="about-content-block about-content-block--p-b-41">
                  <h5>Overview</h5>
                  <p class="text-md m-t-17">
                    Transform your agency with best-in-class integrated tools. The Ultimate CRM Platform! Insuredmine is an add-on to any Agency Management System - helping agencies consolidate multiple sales & marketing tools into an all-in-one solution to increase revenue and reduce operating costs. Sales Pipeline, CRM, Engagement Marketing Automation; drip campaigns/email/text/custom postcards, Workflow Automation, Data Analytics, Client Mobile App., Task Manager, Goal Management, Google Reviews and so much more. 
                  </p>
                  <div class="caption-bold">Our Story</div>
                  <ul class="about-list-content">
                      <li class="about-list-content__item">Our story has a humble beginning; but don’t let that fool you, because when faced with challenges, we test our limits to create uncompromising solutions. Our love for innovation keeps us up all night; and our personal experiences while dealing with outdated and inadequate methods of managing insurance has left us craving for innovation. One small thought has expanded into a diverse team committed to solving the challenges that face the independent insurance agent</li>
                  </ul><!-- our vision end -->

                  <div class="caption-bold">Our Values</div>
                  <ul class="about-list-content">
                      <li class="about-list-content__item">Our core values of Innovation, Quality, Accountability and Mutual Respect are what makes us a great team. Our values are important to our vision and mission. While our vision drives us to enhance our product for superior customer experience, our mission keeps us on track to constantly challenge, innovate and simplify. With our commitment to unlock the power within each independent agent’s data, we know the future awaits us with many challenges; but we choose to focus on the opportunities disguised as those challenges. We believe, this realization is what will lead us to the summits of success.</li>
                    
                  </ul>
                  <div class="line"></div>
              </div><!-- what is ops end -->

          </div><!-- right block end -->
      </div>
  </div>
</section>

