<div class="grid-container">
  <div class="grid-item">
    <img src="/assets/6_ancient_drum_types_of_Madhya_Pradesh,_Indian_subcontinent.jpg">
  </div>
  <div class="grid-item">
    <img src="/assets/Bugle-rhside-large-1-.jpg">
  </div>
  <div class="grid-item">
    <img src="/assets/Chinese_flute_store.jpg">
  </div>  
  <div class="grid-item">
    <img src="/assets/download.png">
  </div>
  <div class="grid-item">
    <img src="/assets/Eighth_Route_Army_bugler.jpg">
  </div>
  <div class="grid-item">
    <img src="/assets/Gu_Hongzhong's_Night_Revels,_Detail_4.jpg">
  </div>  
  <div class="grid-item">
    <img src="/assets/Harmonium_20151009_(23914086965).jpg">
  </div>
  <div class="grid-item">
    <img src="/assets/Jan_Vermeer_van_Delft_013.jpg">
  </div>
  <div class="grid-item">
    <img src="/assets/John_Church_and_Co._reed_organ.jpg">
  </div> 
  <div class="grid-item">
    <img src="/assets/Untitled-1.jpg">
  </div>  
  <div class="grid-item">
    <img src="/assets/Shinobue_and_other_flutes.jpg">
  </div>  
  <div class="grid-item">
    <img src="/assets/Prop._Tabla.jpg">
  </div>  
  <div class="grid-item">
    <img src="/assets/La_col·lecció_de_guitarres,_Museu_de_la_Música_de_Barcelona.jpg">
  </div>   
</div>