<header class="header">
  <!-- desktop:logged-in:top-navigation -->
  <div class="nav-bar">

    <!-- desktop:logged-in:top-navigation:left -->
    <div class="nav-menu">
      <ul class="nav-list m-l-8">
        <li class="nav__item">
          <a class="nav__link nav__link--text" routerLink="/home">Home</a>
        </li>
        <li class="nav__item" *ngIf="user && user.loggedIn">
          <a class="nav__link nav__link--text" routerLink="/pics">Gallery</a>
        </li>
        <li class="nav__item">
          <a class="nav__link nav__link--text" routerLink='/about'>About</a>
        </li>
        <li class="nav__item" *ngIf="user && user.loggedIn">
          <span>
            {{user?.username}} account
          </span>
        </li>
      </ul><!-- first nav end -->
    </div>
    <div class="nav-right">
      <a style="display: flex;
      flex-direction: row;
      margin-top: 8px;" routerLink='/login'  *ngIf="user && !user.loggedIn">Login</a>
      <a style="display: flex;
            flex-direction: row;
            margin-top: 8px;" routerLink='/login'  *ngIf="user && user.loggedIn"
        (click)="logout(user)">Logout</a>
    </div>


  </div>
</header>
<router-outlet></router-outlet>

<section class="m-footer">
  <ul class="m-footer-nav m-footer-nav-inline">
    <li>footer info1</li>
    <li>footer info 2</li>
  </ul>
  <span class="copyright">&#169; INsuredMine {{'2020'}}</span>
</section>


<div class="clearfix"></div>